{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% import _self as self %}

{% macro details_row(object) %}
    <tr data-index="{{ object.vars.name }}">
        <td class="hide">
            {{ form_row(object.estimationDetail, {'label': false}) }}
            {{ form_row(object.material, {'label': false}) }}
        </td>
        <td>
            <span data-name="material-name-{{ object.vars.name }}">
                {{ object.vars.value.material.name|default }}
            </span>
        </td>
        <td>
            <span data-name="estimation-detail-quantity-{{ object.vars.name }}">
                {{ object.vars.value.estimationDetail.quantity|default }}
            </span>
        </td>
        <td>
            {{ form_row(object.quantity, {'label': false, 'attr': {'data-name': 'quantity'} }) }}
        </td>
        <td>
            <span data-name="unit-name-{{ object.vars.name }}">
                {{ object.vars.value.material.unit.name|default }}
            </span>
        </td>
        <td>
            <button type="button" class="btn btn-info remove-sample-request-detail-prototype">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    {{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Sample Request #</label>
                    <div>{{ sampleRequestHeader.codeNumber }}</div>
                </div>
                {{ form_row(form.transactionDate, {'label': 'Tanggal'}) }}
                {{ form_row(form.deliveryDate, {'label': 'Tanggal Delv'}) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.quotation, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#quotation-dialog'} }) }}
                <div class="form-group" id="quotation-info">
                    <div>
                        <label>Penawaran #:</label>
                        <span data-name="code-number">{{ sampleRequestHeader.quotation.codeNumber|default }}</span>
                    </div>
                    <div>
                        <label>Tanggal:</label>
                        <span data-name="transaction-date">{{ sampleRequestHeader.quotation.transactionDate|default ? sampleRequestHeader.quotation.estimationHeader.transactionDate|date('j M Y') }}</span>
                    </div>
                    <div>
                        <label>Project:</label>
                        <span data-name="project-name">{{ sampleRequestHeader.quotation.estimationHeader.projectName|default }}</span>
                    </div>
                    <div>
                        <label>Model:</label>
                        <span data-name="model-name">{{ sampleRequestHeader.quotation.estimationHeader.modelName|default }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div>{{ form_row(form.note) }}</div>
            
        <hr />
        
        <br />
        
        <table class="table table-bordered" id="sample-request-detail-list">
            <thead>
                <tr class="bg-info">
                    <th class="hide">Material</th>
                    <th>Komponen</th>
                    <th style="width: 15%">Qty Estimasi</th>
                    <th style="width: 15%">Qty Request</th>
                    <th style="width: 10%">Satuan</th>
                    <th style="width: 0"></th>
                </tr>
            </thead>
            <tbody data-prototype="{{ self.details_row(form.sampleRequestDetails.vars.prototype)|e }}">
                {% for sampleRequestDetail in form.sampleRequestDetails %}
                    {{ self.details_row(sampleRequestDetail) }}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-center">
                        <span data-name="total-quantity">
                            {{ sampleRequestHeader.totalQuantity|default|number_format(0) }}
                        </span>
                    </td>
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
             
        <div id="quotation-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Penawaran List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="quotation-grid" data-grid="{{ path('common_quotation_grid', {'form': form.vars.id}) }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function bind() {
                $.ajax({
                    method: "POST",
                    url: "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}",
                    data: $("form").serialize(),
                    dataType: "JSON",
                    success: function(data) {
                        var table = $("#sample-request-detail-list");
                        var tableBody = $("tbody", table);
                        var tableFoot = $("tfoot", table);
                        $.each(data.sampleRequestDetails, function(index, sampleRequestDetail) {
                            $("[data-name=material-name-" + index + "]", tableBody).text(sampleRequestDetail.materialName);
                            $("[data-name=estimation-detail-quantity-" + index + "]", tableBody).text(sampleRequestDetail.estimationDetailQuantity);
                            $("[data-name=unit-name-" + index + "]", tableBody).text(sampleRequestDetail.unitName);
                        });
                        $("[data-name=total-quantity]", tableFoot).text(data.totalQuantity);
                    }
                });
            }
            
            var table = $("#sample-request-detail-list");
            var tableBody = $("tbody", table);
            
            tableBody.on("change", "[data-name=quantity]", function() {
                bind();
            });
            tableBody.on("click", ".remove-sample-request-detail-prototype", function() {
                $(this).closest("tr").remove();
                bind();
            });
            
            $("#quotation-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#quotation-dialog").modal("hide");
                $("#{{ form.quotation.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=code-number]", "#quotation-info").text($(this).attr("data-field-code-number"));
                $("[data-name=transaction-date]", "#quotation-info").text($(this).attr("data-field-transaction-date"));
                $("[data-name=project-name]", "#quotation-info").text($(this).attr("data-field-project-name"));
                $("[data-name=model-name]", "#quotation-info").text($(this).attr("data-field-model-name"));
                tableBody.empty();
                var name = "{{ form.sampleRequestDetails.vars.prototype.vars.name }}";
                var estimationDetailsCount = parseInt($(this).attr("data-field-estimation-details-count"));
                for (var i = 0; i < estimationDetailsCount; i++) {
                    tableBody.appendByPrototype(tableBody.attr("data-prototype"), name, i);
                }
                bind();
            });
        });
    </script>
{% endblock %}