{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Sample Request Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Transaction Date</th>
                <td>{{ sampleRequestHeader.transactionDate|default ? sampleRequestHeader.transactionDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Delivery Date</th>
                <td>{{ sampleRequestHeader.deliveryDate|default ? sampleRequestHeader.deliveryDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ sampleRequestHeader.note|default }}</td>
            </tr>
            <tr>
                <th>Total Quantity</th>
                <td>{{ sampleRequestHeader.totalQuantity|default }}</td>
            </tr>
            <tr>
                <th>Grand Total</th>
                <td>{{ sampleRequestHeader.grandTotal|default|number_format(2) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
