{% extends 'staff/layout.html.twig' %}

{% block title 'Transaction Menu' %}

{% block stylesheets %}
    <style>
        table thead tr th:nth-child(2), table tbody tr td:nth-child(2) { width: 30% }
        table thead tr th:nth-child(3), table tbody tr td:nth-child(3) { width: 30% }
    </style>
{% endblock %}

{% block content %}
    {% set menu = app.session.get('menu') %}
    
    {% if menu['transaction'] %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info lead">
                        <strong>Transaksi</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Estimasi</td>
                    <td>
                        {{ include('action.html.twig', {'url': path('transaction_estimation_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                    </td>
                    <td>{{ include('action.html.twig', {'url': path('transaction_estimation_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                </tr>
                <tr>
                    <td>Penawaran</td>
                    <td>
                        {{ include('action.html.twig', {'url': path('transaction_quotation_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                    </td>
                    <td>{{ include('action.html.twig', {'url': path('transaction_quotation_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                </tr>
                <tr>
                    <td>Permintaan Sample</td>
                    <td>
                        {{ include('action.html.twig', {'url': path('transaction_sample_request_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                    </td>
                    <td>{{ include('action.html.twig', {'url': path('transaction_sample_request_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                </tr>
                <tr>
                    <td>Purchase Order</td>
                    <td>
                        {{ include('action.html.twig', {'url': path('transaction_purchase_order_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                    </td>
                    <td>{{ include('action.html.twig', {'url': path('transaction_purchase_order_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                </tr>
                <tr>
                    <td>Pengiriman Sample</td>
                    <td>
                        {{ include('action.html.twig', {'url': path('transaction_sample_material_outgoing_header_new'), 'label': 'Add', 'button': 'btn btn-success', 'icon': 'glyphicon glyphicon-plus'}) }}
                    </td>
                    <td>{{ include('action.html.twig', {'url': path('transaction_sample_material_outgoing_header_index'), 'label': 'Manage', 'button': 'btn btn-primary', 'icon': 'glyphicon glyphicon-list'}) }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
